/*Alerts*/
.success {
	background-color: #5DC1A2;
	color: #192231;
	padding-top: 1%;
	padding-bottom: 1%;
}

.warning {
	background-color: #E36B6A;
	color: #192231;
	padding-top: 1%;
	padding-bottom: 1%;
}

.alert-font {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
}

/*-----------------------------------------------------FONTS-----------------------------------------------------*/
/*
16px - 1rem
18px - 1.125rem
23px - 1.4375rem
31px - 1.9375rem
12px - 0.75rem
*/

/* Except regular
1920 -> 1600: 0.1
1600 -> 1440: 0.1
*/
/* Regular
1920 -> 1600: 0.05
1600 -> 1440: 0.02
*/

/*assgn descps, query answers only*/
.regular {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem; 
	line-height: 1.4375rem;
}

.regular1 {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem; 
	line-height: 1.9375rem;
}

/*links, query questions only*/
.bold {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 1.125rem; 
	line-height: 1.4375rem;
}

.bold1 {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 1.4375rem; 
	line-height: 0.75rem;
}

.font-imp {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 1.25rem;
	line-height: 0.75rem;
	color: #F4F4F4;
}

/*-----------------------------------------------------MAIN-----------------------------------------------------*/

.row {
	margin: 0;
	padding: 0;
}

.sidebar {
	height: 100%;
	width: 100%;
	z-index: 1;
	position: fixed;
	background: #1F2A40;
	box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.05);
	overflow-x: hidden;
	padding: 0px;
}

.sidebar-header {
	height: 8%;
	padding: 5%;
}

.sidebar-header > h1 {
	padding-left: 8px;
}

.topbar {
	position: absolute;
	width: 100%;
	height: 8%;
	top: 0px;
	background: #24344D;
	padding: 0;
}

.portal {
	display: inline;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	line-height: 12px;
	font-family: Fira Sans, sans-serif;
}

ul {
	list-style: none;
	padding-left: 60px;
}

li {
	margin-bottom: 20px;
}

.nav-items {
	margin-top: 25%;
}

.nav-items a {
	font-family: Fira Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #BFD2EF;
}

.nav-items a:hover {
	text-decoration: none;
}

#selected, .highlighted {
	font-weight: bold;
	color: #EC5E69;
}

.content {
	margin-top: 0;
	padding: 0;
}

.profile > :first-child {
	margin-right: 2%;
	color: #BFD2EF;
}

.link {
	background: #2EC5D3;
	border-radius: 5px;
	padding: 1.5%;
	color: #192231;

	float: right;
	width: 25%;
}

.link:hover {
	text-decoration: none;
	color: #192231;
}

.link:active, .link:visited {
	text-decoration: none;
	color: #192231;
	outline: none;
}

#yes, #no {
	width: 40%;
}

#about-div {
	width: 70%;
}

#assignments-div {
	width: 60%;
}

#assignment_topic-2, #assignment_topic-3 {
	margin-bottom: 2%;
	background: #24344D;
	border-radius: 5px;
	padding: 4%;
}

#assignment_topic-1 {
	margin-bottom: 2%;
	margin-top: 2%;
	background: #24344D;
	border-radius: 5px;
	padding: 4%;
}

#assignment_topic-1 h2, #assignment_topic-2 h2, #assignment_topic-3 h2 {
	color: #F4F4F4;
}

#assignment_topic-1 p, #assignment_topic-2 p, #assignment_topic-3 p {
	color: #BFD2EF;
}

form h3, #congrats, #profile-name, .about-header, .query, .no-question {
	color: #F4F4F4;
}

form label {
	color: #BFD2EF;
}

input[type=text], input[type=email], input[type=text]:focus, input[type=email]:focus {
	background: #F4F4F4;
	color: #192231;
	border: none;
}

.font-mini, .lhs, .shortlisted-message, .timeline-message, .last-updated, .about, .welcome, .team-form-expired, .upload-expired, .answer {
	color: #BFD2EF;
}

.student {
	background: #24344D;
	border-radius: 5px;
	padding: 5%;
	width: 45%;
	float: left;
	margin-bottom: 5%;
	margin-right: 5%;
}

.student_name {
	color: #F4F4F4;
}

.student_info {
	color: #BFD2EF;
}

.not-show {
	display: none;
}

.show {
	display: block;
}

.forum_answered_by {
	font-size: 15px;
}

.project-details {
	padding-left: 2.5%;
	padding-top: 3%;
	padding-bottom: 3%;
	background: #24344D;
	border-radius: 5px;
	width: 45%;
}

.lhs {
	padding-left: 0;
}

.lhs div {
	float: right;
	padding-left: 5px;
}

.rhs {
	color: #F4F4F4;
}

#know-your-availability, #timeline {
	font-family: Proxima Nova;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #BFD2EF;
}

#date {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 1.4375rem; 
	line-height: 0.75rem;
	color: #F4F4F4;
}

#month {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem; 
	line-height: 1.9375rem;
	color: #BFD2EF;
}

body {
	background: #192231;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1600px) {
	.content > :first-child {
		padding-left: 5%;
	}
	ul {
		padding-left: 50px;
	}
	.portal {
		font-size: 18px;
	}
	.nav-items a {
		font-size: 1.025rem;
	}
	.regular {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: normal;
		font-size: 1.075rem; 
		line-height: 1.3875rem;
	}
	.regular1, #month {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: normal;
		font-size: 1.025rem; 
		line-height: 1.8375rem;
	}
	.forum_answered_by {
		font-size: 14px;
	}

	/*links only*/
	.bold {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: bold;
		font-size: 1.025rem; 
		line-height: 1.3375rem;
	}

	.bold1, #date {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: bold;
		font-size: 1.3375rem; 
		line-height: 0.65rem;
	}

	.font-imp {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: bold;
		font-size: 1.15rem;
		line-height: 0.65rem;
		color: #F4F4F4;
	}
	.alert-font {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: normal;
		font-size: 0.95rem;
	}
	input[type=text], input[type=email], input[type=text]:focus, input[type=email]:focus {
		height: 35px;
	}
	.link {
		width: 20%;
	}
	#yes {
		width: 35%;
	}
	#no {
		width: 38;
	}
	#about-div {
		
	}
	#assignments-div {
		width: 70%;
	}
	form h3, #congrats, #profile-name {
		font-size: 1.3375rem;
		color: #F4F4F4;
	}

	form label {
		font-size: 0.9rem;
		color: #BFD2EF;
	}
	.sidebar-header > h1 {
		margin-left: 5px;
	}
}

@media screen and (max-width: 1440px) {
	.content > :first-child {
		padding-left: 8%;
	}
	ul {
		padding-left: 40px;
	}
	.portal {
		font-size: 16px;
	}
	.nav-items a {
		font-size: .925rem;
	}
	.regular {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: normal;
		font-size: 1.055rem; 
		line-height: 1.3675rem;
	}
	.forum_answered_by {
		font-size: 13px;
	}

	.regular1, #month {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: normal;
		font-size: .925rem; 
		line-height: 1.7375rem;
	}

	/*links only*/
	.bold {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: bold;
		font-size: .925rem; 
		line-height: 1.2375rem;
	}

	.bold1, #date {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: bold;
		font-size: 1.2375rem; 
		line-height: 0.55rem;
	}

	.font-imp {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: bold;
		font-size: 1.05rem;
		line-height: 0.55rem;
		color: #F4F4F4;
	}
	.alert-font {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: normal;
		font-size: 0.85rem;
	}

	input[type=text], input[type=email], input[type=text]:focus, input[type=email]:focus {
		height: 30px;
	}

	#about-div {

	}
	#assignments-div {
		width: 75%;
	}
	form h3, #congrats, #profile-name {
		font-size: 1.2375rem;
		color: #F4F4F4;
	}

	form label {
		font-size: 0.8rem;
		color: #BFD2EF;
	}
	.sidebar-header > h1 {
		margin-left: 5px;
	}
}

/*@media screen and (max-width: 1366px) {
	.content > :first-child {
		padding-left: 10%;
		padding-top: 3%;
	}
	.portal {
		font-size: 16px;
	}
	.sidebar-header > h1 {
		margin-left: 5px;
	}
}*/





/*TimeLine*/
/*Source - https://codepen.io/mo7amedk7alid29/pen/dRoMwo*/
.box {
    overflow: hidden;
    padding-left: 10px;
}

.box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all 0.5s linear;
    top:0
}

.box ul:last-of-type {
	top:80px
}

.box ul li {
	margin-top: 20px;
    margin-left: 60px;
    position: relative;
    padding: 20px;
    background: #24344D;
    border-radius: 10px;
    line-height: 20px;
    width: 35%;
	color: #BFD2EF;
	margin-bottom: 50px;
}

.box ul li > span {
    content: "";
    display: block;
    width: 0;
    height: 1000px;
    border:1px solid #30405A;
    position: absolute;
    top:0;
    left:-30px;
}

.not-over:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 3.10734px solid #EC5E69;
    background-color: #192231;
    border-radius: 50%;
    position: absolute;
    left:-7.5px;
}

.over:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2EC5D3;
    position: absolute;
    left:-7.5px;
}

.box ul li > span:before {
	top:-10px
}

.box .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .time span{
    position: absolute;
    left: -70px;
    color:#fff;
    font-size:80%;
    font-weight: bold;
}
.box .time span:first-child {
	top:-16px
}