{% extends "admin_layout.html" %}
{% block content %}<br><br>
	  	<div class="container">
	  		<div style="border: 10px solid rgb(0,0,153); margin-bottom: 10px; padding: 10px;">
	  			<h1 style="color:rgb(217, 217, 217)">Schedule</h1>
	  			<form action="" method="POST">
				  <label for="assgn_upload" style="color:rgb(217, 217, 217)">Assignment Topics:</label>
				  <input type="date" id="assgn_upload" name="assgn_upload" required>
				  <B style="color:rgb(217, 217, 217)">{{ assgn_upload }}</B>
				  <br>
				  <label for="assgn_deadline" style="color:rgb(217, 217, 217)">Assignment Submission Deadline:</label>
				  <input type="date" id="assgn_deadline" name="assgn_deadline" required>
				  <B style="color:rgb(217, 217, 217)">{{ assgn_deadline }}</B>
				  <br>
				  <label for="assgn_results" style="color:rgb(217, 217, 217)">Assignment Results:</label>
				  <input type="date" id="assgn_results" name="assgn_results" required>
				  <B style="color:rgb(217, 217, 217)">{{ assgn_results }}</B>
				  <br>
				  <input type="submit">
				</form>
	  		</div>
	  		

	  		
	  		{%if status==true%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func" style="color:rgb(217, 217, 217)"><B style="float: left">Enabled</B>Assignment View And Team Formation For Students</a>
	  		{%else%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func" style="background: white;color:black"><B style="float: left">Disabled</B>Assignment View And Team Formation For Students</a>
	  		{%endif%}<br><br>

	  		
	  		{%if assign==true%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func2" style="color:rgb(217, 217, 217)"><B style="float: left">Enabled</B>Assignment View And Evaluation By Teacher</a>
	  		{%else%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func2" style="background: white;color:black"><B style="float: left">Disabled</B>Assignment View And Evaluation By Teacher</a>
	  		{%endif%}<br><br>

	  		
	  		
	  		{%if project_view==true%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func4" style="color:rgb(217, 217, 217)"><B style="float: left">Enabled</B>Project View For Students</a>
	  		{%else%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func4" style="background: white;color:black"><B style="float: left">Disabled</B>Project View For Students</a>
	  		{%endif%}<br><br>

	  		
	  		{%if project==true%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func3" style="color:rgb(217, 217, 217)"><B style="float: left">Enabled</B>Project View And Evaluation By Teacher</a>
	  		{%else%}
	  			<a type="button"  class="btn btn-primary btn btn-link btn-lg btn-block"   href="/form_func3" style="background: white;color:black"><B style="float: left">Disabled</B>Project View And Evaluation By Teacher</a>
	  		{%endif%}

	  		<br><br><br><br><br><br><br><br>
	  	</div>
	  	
  	{%endblock%}
