{% extends "teacher_layout.html" %}
{% block content %}
    {% if status %}
		<center>
		{%if status%}
		{% with message = get_flashed_messages()[0] %}
	  		{% if message == 'This team is already evaluated' %}
			  	<div class="alert" role="alert" style="background-color: rgb(0,204,255);width: 30%;">
				  	<center>{{ message }}</center>
				</div>
	 
		  	{% endif %}
		{% endwith %}
		</center>
		
		<div class="container" style="padding-top:100px">

			<div class="row">
				
				<div class="col" style="float:right;">
					
						<table class="table table-bordered"> 
							<thead class="text-white" style="background-color: rgb(77, 77, 255)">
								<tr><th colspan="5"><center><h3>Team Details For CCBD Assignment </h3></center></th></tr>
							    <tr>
							      	<th scope="col"><center><B style="font-size: 20px">Team Name</B></center></th>
							      	<th scope="col"><center><B style="font-size: 20px">Team's Topic</B></center></th>
							      	<th scope="col"><center><B style="font-size: 20px">Team Details</B></center></th>
							      	<th scope="col"><center><B style="font-size: 20px">Assignment</B></center></th>
							      	<th scope="col"><center><B style="font-size: 20px">Evaluation Status</B></center></th>
							    </tr>
			  				</thead>
			  				<tbody>

							{% for q in team %}
							
							<tr>
								
						      	<td ><center><h6><B style="color:white;font-size: 15px">{{q.key}}</B></h5></center>
						      	</td>
						      	<td><center><B style="color:white;font-size: 15px">{{q.value}}</B></center></td>
						      	<td><a href="#" data-toggle="tooltip" data-placement="top" data-html="true" title="

						      		<p>
							      		<b><I>{{q.key}}</I></b><br>
							      		<b>Names</b>:<br>
							      		{% for i in q.name_list %} 
							              
							              {{ (i.fn)[0]|upper}}{{(i.fn)[1:] }} {{i.ln}} <br>
							              
							             {%endfor%}<br>
							             <b>Assignment topic:</b><br>
							              {{q.value}}
							        </p>
						      		" style="color: white;font-size: 15px"><center>

						      		<B style="color:white">Know the team details</B></center></a></td>
						      		{%if q.link != "no" %}
						      		<td><center><B style="color:white;font-size: 15px"><a href="{{q.link}}" target="_blank" style="color:white;">view assignment</a></B></center></td>
						      		{%else%}
						      		<td><center><B style="color:white;font-size: 15px">Yet To Submit</B></center></td>
						      		{%endif%}
						      	{%if q.status=="evaluated"%}
						      	<td><center style="word-spacing: 10px"><i class="fa fa-check-circle" aria-hidden="true" style="font-size:20px;color:rgb(0,204,255)"></i> <a style="color:white;font-size: 15px" href="/summary_assignment/{{q.key}}"><B> Summary</B></a></center></td>
						      	{%elif q.status=="Yet To Be Evaluated" %}
						      	<td><B style="color:white;font-size: 15px"><center><I><a style="color:white;" href="/my_func/{{q.key}}">click to evaluate</a></I></center></B></td>
						      	{%endif%}
					    	</tr>
							{% endfor %}
							</tbody>
						</table>					
					
				</div>
			</div>
		</div>
		{%endif%}
		<script>$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
		</script>
		{%endif%}
	{%endblock%}