{% extends "Layout.html" %}
{% block content %}
	<h3 style="background-color: rgb(0,0,153); color:white; height: 60px;width:80%"><center style="padding-top:10px">Your Bootcamp Attendence</center></h3>
	<br>
	<div style="padding-top: 40px;width:80%">
		<table class="table table-bordered text-center">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">Day</th>
					<th class="text-center">Attended?</th>
				</tr>
			</thead>
			<tr>
				{% if Student.day1 %}
					<td class="text-white bg-dark">Day 1</td>
					<td class="text-white"><B>Present</B></td>
				{% else %}
					<td class="text-white bg-dark">Day 1</td>
					<td class="text-danger"><B>Absent</B></td>
				{% endif %}
			</tr>
			<tr>
				{% if Student.day2 %}
					<td class="text-white bg-dark">Day 2</td>
					<td class="text-white"><B>Present</B></td>
				{% else %}
					<td class="text-white bg-dark">Day 2</td>
					<td class="text-danger"><B>Absent</B></td>
				{% endif %}
			</tr>
			<tr>
				{% if Student.day3 %}
					<td class="text-white bg-dark">Day 3</td>
					<td class="text-white"><B>Present</B></td>
				{% else %}
					<td class="text-white bg-dark">Day 3</td>
					<td class="text-danger"><B>Absent</B></td>
				{% endif %}
			</tr>
		</table>
	</div>>
	<!-- status is true after bootcamp is over and assignments topics are prepared -->
	{% if status and select==false %}
		<div class="alert alert-danger" style="width: 50%;">
			<p>Sorry, you are not eligible to continue in our further programme as you have not attended all the 3 days of the CCBD Bootcamp</p>
		</div>
	{% endif %}
{% endblock %}