{% extends "teacher_layout.html" %}
{% block content %}
		<div class="container" style="padding-top:100px;">
			<table class="table table-bordered "> 
				<thead >
				    <tr>
				      	<th scope="col" class="text-white" style="font-size: 20px"><center>SRN</center></th>
				      	<th scope="col" class="text-white" style="font-size: 20px"><center>Name</center></th>
				      	<th scope="col" class="text-white" style="font-size: 20px"><center>Department</center></th>
				    </tr>
  				</thead>
  				<tbody>
				{% for q in query %}
				<tr>
			      	<td><B style="color:white" ><center style="font-size: 15px">{{q._id}}</center></B></td>
			      	<td><B style="color:white" ><center style="font-size: 15px">{{ (q.firstname)[0]|upper}}{{(q.firstname)[1:] }} {{q.lastname}}</center></B></td>
			      	<td><B style="color:white" ><center style="font-size: 15px">{{q.department}}</center></B></td>
		    	</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>
		{% endblock %}