{% extends "admin_layout.html" %}
{% block content %}<br><br>

<a type="button"  class="btn btn-outline-primary btn btn-link btn-lg btn-block"   href="/csv">Get Student details</a>
<a type="button"  class="btn btn-outline-primary btn btn-link btn-lg btn-block"   href="/csv1">Get Shortlisted teams for Project</a>
<a type="button"  class="btn btn-outline-primary btn btn-link btn-lg btn-block"   href="/csv3">Get Rejected teams for Project</a>
<a type="button"  class="btn btn-outline-primary btn btn-link btn-lg btn-block"   href="/csv4">Get the details of the students who have not accepted their participation in the internship</a>
<a type="button"  class="btn btn-outline-primary btn btn-link btn-lg btn-block"   href="/csv2">Get Project Results</a>
<br><br><br><br><br><br><br><br><br>
{%endblock%}