{% extends "admin_layout.html" %}
{% block content %}<br><br>

<form action="#" method="POST">
	<div class="form-group">
		<label for="exampleInputName1" style="color:rgb(51, 153, 255);font-size: 24px;font-family: 'Mukta', sans-serif;"><B>Enter Faculty Email-Id</B></label>
		<input type="email" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" name="email"  style="background-color:rgb(204, 230, 255);font-size: 15px" required>
	</div>
	<button type="submit" class="btn btn-primary" style="color:white;background-color: 
				  	rgb(0,0,153);font-size: 15px">Submit</button>
</form>
{%endblock%}