{% extends "Layout.html" %}
{% block content %}
	{% with message = get_flashed_messages()[0] %}
	  {% if message %}
	  	<div class="alert" role="alert" style="background-color: rgb(0,204,255);width: 68%">
		  {{ message }}
		</div>
	  {% endif %}
	{% endwith %}

	<h2 class="text-white bg-primary" style="width: 60%"><center>About Yourself</center></h2>
	<table class="table table-bordered" style="width: 60%">
				<thead class="thead-dark">
					<tr>
						<th colspan="2"><center>
							{{ Student.firstname.capitalize() + ' ' + Student.lastname.capitalize() }}</center>
						</th>
					</tr>
				</thead>
				<tr>
					<td class="text-white bg-dark">
						Department
					</td>
					<td  class="text-white" style="background-color: rgb(0, 34, 102)"><B>
						{{ Student.department }}</B>
					</td>
				</tr>
				<tr>
					<td class="text-white bg-dark">
						Email
					</td>
					<td  class="text-white" style="background-color: rgb(0, 34, 102)"><B>
						{{ Student.email }}</B>
					</td>
				</tr>
				<tr>
					<td class="text-white bg-dark">
						Phone
					</td>
					<td class="text-white" style="background-color: rgb(0, 34, 102)"><B>
						{{ Student.contactnumber }}</B>
					</td>
				</tr>
				<br>
		</table>
{% endblock %}