{% extends "teacher_layout.html" %}
{% block content %}
{%if status_assign and status %}
    <div class = "container" style="padding-top:100px">
      <table class="table table-bordered">
          <thead class="text-white" style="background-color: rgb(77, 77, 255)">
            <tr>
              <th scope="col" style="font-size: 20px"><center>SL No</center></th>
              <th scope="col" style="font-size: 20px"><center>Project ID</center></th>
              <th scope="col" style="font-size: 20px"><center>Team Size</center></th>
              <th scope="col" style="font-size: 20px"><center>SRN</center></th>
              <th scope="col" style="font-size: 20px"><center>Name</center></th>
              <th scope="col" style="font-size: 20px"><center>Project Title</center></th>
              <th scope="col" style="font-size: 20px"><center>Associated With</center></th>
            </tr>
          </thead>
          <tbody>
            {%for team in details%}
              <tr>
                <td><B style="color:white"><center style="font-size: 15px"> {{team.slno}}</center></B></td>
                <td><B style="color:white"><center style="font-size: 15px"> {{team.id}}</center></B></td>              
                <td><B style="color:white"><center style="font-size: 15px"> {{team.size}}</center></B></td>              
                <td>
                {% for srn in team.srns %} 
                  <B style="color:white; font-size: 15px"><center>{{srn}}</center></B>
                {%endfor%}
                </td>
                <td>
                {% for i in team.names %}
                 
                  <B style="color:white;font-size: 15px"><center>{{ (i.fn)[0]|upper}}{{(i.fn)[1:] }} {{i.ln}}</center></B>
                
                {%endfor%}
                </td>
                <td><B style="color:white"><center style="font-size: 15px">{{team.title}}</center></B></td>
                <td><B style="color:white"><center style="font-size: 15px">{{team.guide}}</center></B></td>
              </tr>
            {%endfor%}
        </tbody>
      </table>
    </div>
    {%endif%}
 {%endblock%}