<!doctype html>
<html lang="en">
	<head>
		<style> 
        .tab1 { 
            tab-size: 2; 
        } 
    	</style>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  	</head>
	<body>
		<div class="jumbotron">
			<h3><center>This is the evaluation summary of the team with id {{id}}</center></h3>
		</div>
		<div class = "container">
			<table class="table table-bordered">
  				<tbody>
  					<tr>
  						<td><h3>TEAM ID </h3></td>
  						<td> {{id}}</td>
  					</tr>
  					
  					<tr>
  						<td>NAMES </td>
  						<td>
  						{% for i in list_names %} 
  						<pre class="tab1">{{ (i.fn)[0]|upper}}{{(i.fn)[1:] }}-{{i.ln}} </pre> 
  						{%endfor%}
  						</td>
  					</tr>
  					
  					<tr>
  						<td>DEMO </td>
  						<td>{{demo}}</td>
  					</tr>
  					<tr>
  						<td>PPT </td>
  						<td>{{ppt}}</td>
  					</tr>
  					<tr>
  						<td>REMARKS </td>
  						<td>{{remarks}}</td>
  					</tr>
				</tbody>
			</table>
		</div>
		<a type="button" class="btn btn-primary" href="{{url_for('project')}}">Click To Go Back To The Assignment Page</a>
	</body>
</html>