{% extends "teacher_layout.html" %}
{% block content %}
    <div >
      <h3 style=" color:white; "><center >This is the evaluation summary of the team with id <I>{{id}}</I></center></h3>
      <div style="padding-right: 20px">
        <a href="{{url_for('assignment')}}" type='button' class="btn btn-primary"style=" font-size:15px ;color:white ; background-color:rgb(0,0,166);float:left; "><i class='fas fa-angle-left' style='font-size:20px'></i> Back
            </a>
          </div>
    </div>
		
		<div class = "container" style="padding-top: 100px">
			<table class="table table-bordered" style="border: 1px solid white;
  border-collapse: collapse;">
  				<tbody class="text-white" style="border: 1px solid white;border-collapse: collapse;">
  					<tr>
  						<td style="background-color: rgb(77, 77, 255)"><B style="color: white; font-size: 20px"><center>TEAM ID</center> </B></td>
  						<td><center> <B style="color: white; font-size: 20px"> {{id}}</B></center></td>
  					</tr>
  					
  					<tr>
  						<td class="align-middle" style="background-color: rgb(77, 77, 255)"><B style="color: white; font-size: 20px;"><center >NAMES</center></B> </td>
  						<td>
  						{% for i in list_names %} 
              <center><B style="color: white; font-size: 20px">{{ (i.fn)[0]|upper}}{{(i.fn)[1:] }} {{i.ln}} </B>
              </center>
  						{%endfor%}
  						</td>
  					</tr>
  					
  					<tr>
  						<td style="background-color: rgb(77, 77, 255)"><B style="color: white; font-size: 20px"><center> DEMO</center> </B></td>
  						<td><center><B style="color: white; font-size: 20px">{{demo}}</B></center></td>
  					</tr>
  					<tr>
  						<td style="background-color: rgb(77, 77, 255)"><B style="color: white; font-size: 20px"><center>PPT</center> </B></td>
  						<td><center><B style="color: white; font-size: 20px">{{ppt}}</B></center></td>
  					</tr>
  					<tr>
  						<td style="background-color: rgb(77, 77, 255)"><B style="color: white; font-size: 20px"><center> REMARKS </center></B> </td>
  						<td><center><B style="color: white; font-size: 20px"><I>{{remarks}}</I></B></center></td>
  					</tr>
				</tbody>
			</table>
		</div>
	{%endblock%}