{% extends "teacher_layout.html" %}
{% block content %}
		<div style="height: 100%; width: 80%">
			<p style="color: white;font-size: 20px;padding-top:40px"><B><I>“A good teacher is like a candle, it consumes itself to light the way for others”.</I></B></p>
			<p style="color: white;font-size: 20px;"><B><I>“A teacher affects eternity and can never tell where the influence stops.”</I></B></p>
			<p style="color: white;font-size: 20px;padding-top:40px">
				This Portal would enable you to get all the required details about bootcamp, teams, assignments, projects and student queries.
			</p>
			<p style="color: white;font-size: 20px;">
				All the required details are readily available for all events. Along with this you would  enjoy clarifying the doubts of participants.
			</p>
			<p style="padding-top:40px">
				<h1 style="color: white;">Hope to see you comfortable with the website :)</h1>  
			</p>
		</div>
	
{% endblock %}