<!doctype html>
<html lang="en">
  	<head>
	  	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  	</head>
  	<body>
	  	<div class="container ">
	  		<h1 ><center>Topics For The Assignment </center></h1>
	  	</div>
	  	<div class="row justify-content-center">
	  		<div class="col-4 align-self-center">
			  	<form method = 'POST' action="#">
			  		<div class="form-group">
					    <label for="exampleInputName1">Topic-1</label>
					    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" name="topic1" >
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputName1">Topic-1 description</label>
					    <textarea class="form-control" rows="4" id="comment" name="topic1-d"></textarea>
				  	</div>
			  		<div class="form-group">
					    <label for="exampleInputName1">Topic-2</label>
					    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" name="topic2" >
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputName1">Topic-2 description</label>
					    <textarea class="form-control" rows="4" id="comment" name="topic2-d"></textarea>
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputName1">Topic-3</label>
					    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" name="topic3" >
				  	</div>
				  	<div class="form-group">
					    <label for="exampleInputName1">Topic-3 description</label>
					    <textarea class="form-control" rows="4" id="comment" name="topic3-d"></textarea>
				  	</div>
				  	<button type="submit" class="btn btn-primary">Submit</button></br>
				</form>
			</div>
		</div>
  	</body>
</html>