{% extends "Layout.html" %}
{% block content %}
{%if status==true and select== true%}
	{% set i = namespace(value = 1) %}
	<div class="container" id="assignments-div" style="margin-top: 10%;">
		{% for assignment in assignments %}
			<div class="text-left" id="assignment_topic-{{ i.value }}">
					<h2 class="bold1">Topic {{ i.value }} : {{ assignment.topic }}</h2>
					<br>
					<p class="regular">{{ assignment.desc }}</p>
			</div>
			{% set i.value = i.value + 1 %}
		{% endfor %}
	</div>
{%elif status==true and select==false%}
	<div class="container" style="margin-top: 10%;">
		<p class="team-form-expired regular1">You did not attend on all the 3 days of Bootcamp<i class="ml-2 fa fa-frown-o" aria-hidden="true"></i></p>
	</div>
{%elif status==false%}
	<div class="container" style="margin-top: 10%;">
		<p class="team-form-expired regular1">Assignments are not released still</p>
	</div>
{%endif%}
{% endblock %}